// Theme overrides

// Author
.author {
  .author-avatar {
    width: 180px;
    height: 180px;
    background-color: transparent;
  }
}

// Codeblock Theme
.red {
  .highlight {
    pre {
      background-color: #3b1e1e;
//      background-color: #4a2424;
//      background-color: #4d3a3a;
    }
  }
}
.green {
  .highlight {
    pre {
      background-color: #223b1e;
//      background-color: #244a28;
//      background-color: #3a4d3c;
    }
  }
}

// When mouse block a text set this color
mark,
::selection {
  background: $text-link-blue;
  color: $white;
}


// Codeblock Theme
pre.highlight, pre {
  margin: 0 -30px;
  @include media-query($on-mobile) {
    margin: 0 calc(51% - 51vw);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 -15px;
  }
  border: 1px solid rgba(128,128,128,0.1);
  background-color: #1a1b21;
  border-radius: 0px;
  padding: 10px;
  display: block;
  overflow-x: auto;

  > code {
    width: 100%;
    max-width: 60rem;
  }
}

figure.highlight {
  padding-top: $spacing-full - 15;
  padding-bottom: $spacing-full - 15;
}
